package components

// Mark menggambar logo bunga sakura (kelopak runcing, bukan bulat).
templ Mark() {
	<svg class="mark" viewBox="0 0 40 40" aria-hidden="true">
		<g transform="translate(20 20)">
			<g fill="var(--sakura)">
				<path d="M0 0 C -5.5 -4 -5 -9.5 0 -13 C 5 -9.5 5.5 -4 0 0 Z"/>
				<path d="M0 0 C -5.5 -4 -5 -9.5 0 -13 C 5 -9.5 5.5 -4 0 0 Z" transform="rotate(72)"/>
				<path d="M0 0 C -5.5 -4 -5 -9.5 0 -13 C 5 -9.5 5.5 -4 0 0 Z" transform="rotate(144)"/>
				<path d="M0 0 C -5.5 -4 -5 -9.5 0 -13 C 5 -9.5 5.5 -4 0 0 Z" transform="rotate(216)"/>
				<path d="M0 0 C -5.5 -4 -5 -9.5 0 -13 C 5 -9.5 5.5 -4 0 0 Z" transform="rotate(288)"/>
			</g>
			<circle r="3.2" fill="var(--ink)"/>
		</g>
	</svg>
}
